<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Connection Search</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/webjars/jquery-ui/1.13.2/jquery-ui.min.css">
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="top-bar">
  Connections Search
<!--  <div th:if="${#authorization.expression('isAuthenticated()')}">-->
<!--    <div sec:authentication="principal.firstName"></div>-->
<!--  </div>-->
<!--  <span th:if="${#authorization.expression('isAuthenticated()')}" th:text="${#authentication.name}"></span>-->
<!--  <span th:unless="${#authorization.expression('isAuthenticated()')}">Hello, stranger</span>-->
  <div th:unless="${#authorization.expression('isAuthenticated()')}">
    <a th:href="@{/login}">
      <button class="button button-login">Log in</button>
    </a>
  </div>
  <div class="top-button-container">
    <div th:if="${#authorization.expression('isAuthenticated()')}">
      <a th:href="@{/connections/userPage}">
        <button class="button button-user-page">User page</button>
      </a>
      <form name="logoutForm" th:action="@{/logout}" method="post">
        <button class="button button-logout">Log out</button>
      </form>
    </div>
  </div>
</div>
<div class="content-container time-table">
  <div class="container">
  <div th:if="${param.logout}" class="alert alert-success">
    You have been logged out.
  </div>
  </div>
  <div class="container">
    <form id="flightForm" action="/selectFlight" method="POST">
      <label>Origin city:</label>
      <select class="form-control selectpicker" name="originCity" th:id="originCity" required="required" th:nam>
        <option value="Nothing selected">Nothing selected</option>
        <option th:each="tempConnection : ${connections}" th:value="${tempConnection.icao}" th:text="${tempConnection.city}"></option>
      </select>
      <label>Destination city:</label>
      <select class="form-control selectpicker" name="destinationCity" th:id="destinationCity" th:disabled=true>
        <option value="Nothing selected">Please choose origin city first</option>
      </select>
      <hr>
      <div class="datepicker-container">
        <input type="text" th:id="flightDatepicker" name="flightDatepicker" th:name="flightDate" readonly th:disabled=true placeholder="Departure date">
      </div>
<!--      <button type="button" name="submitBtn" th:id="submitBtn" >Submit</button>-->
    </form>
  </div>
</div>

<div class="button-container">
  <button class="button button-back" disabled>Back</button>
  <button class="button button-next" name="button-next" th:id="button-next" disabled>Next</button>
</div>

<script src="https://code.jquery.com/jquery-3.6.3.js"></script>
<script src="/webjars/jquery-ui/1.13.2/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>
</body>

<script th:inline="javascript">

  const originCityDropdown = document.getElementById("originCity");
  const destinationCityDropdown = document.getElementById("destinationCity");
  const flightDatepicker = document.getElementById("flightDatepicker");

  // Update the destination city dropdown and datepicker selection when the origin city changes
  originCityDropdown.addEventListener('change', () => {
    updateDestinationCityDropdown();
    updateDatepickerSelection();
    checkNextButtonStatus();
  });

  // Update the datepicker selection when the destination city changes
  destinationCityDropdown.addEventListener('change', () => {
    updateDatepickerSelection();
    checkNextButtonStatus();
  });

  // Update the next button when date is chosen trough datepicker
  $('#flightDatepicker').on('change', function() {
    checkNextButtonStatus();
  });

  // Update the destination city dropdown based on the selected origin city
  function updateDestinationCityDropdown() {
    destinationCityDropdown.value = "Nothing selected";
    if (originCityDropdown.value !== "Nothing selected") {
      destinationCityDropdown.disabled = false;
      const originCityValue = originCityDropdown.value;
      $.ajax({
        url: "/connections/getDestinationAirport",
        type: "GET",
        data: { originCityName: originCityValue },
        success: function(destinationCityValues) {
          console.log(destinationCityValues);
          destinationCityDropdown.options.length = 0;
          destinationCityDropdown.options[0] = new Option("Nothing selected", "Nothing selected");
          destinationCityValues.forEach((city, index) => {
            destinationCityDropdown.options[index+1] = new Option(city.city, city.icao);
          });
          updateDatepickerSelection();
        },
        error: function(xhr, status, error) {
          console.log("Error: " + error);
        }
      });
    } else {
      destinationCityDropdown.options.length = 0;
      destinationCityDropdown.options[0] = new Option("Please choose origin city first", "Nothing selected");
      destinationCityDropdown.disabled = true;
    }
  }

  // Update the flight datepicker based on the selected origin and destination cities
  function updateDatepickerSelection() {
    if (destinationCityDropdown.value == "Nothing selected" || destinationCityDropdown.disabled == true) {
      flightDatepicker.value = null;
      flightDatepicker.disabled = true;
    } else if (destinationCityDropdown.value !== "Nothing selected") {
      flightDatepicker.value = null;
      flightDatepicker.disabled = false;
      const originCityValue = originCityDropdown.value;
      const destinationCityValue = destinationCityDropdown.value;
      $.ajax({
        url: "getFlightDates",
        type: "GET",
        data: {
          origAirportIcao: originCityValue,
          destAirportIcao: destinationCityValue
        },
        dataType: "json",
        success: function(response) {
          const availableDates = response.map(date => date);
          console.log("availableDates: " + availableDates);
          $("#flightDatepicker").datepicker("destroy");
          $("#flightDatepicker").datepicker({
            minDate: 0,
            beforeShowDay: function(date) {
              const dmy = date.getFullYear() + "-" + ('0' + (date.getMonth()+1)).slice(-2) + "-" + ('0' + date.getDate()).slice(-2);
              if ($.inArray(dmy, availableDates) !== -1) {
                return [true, "","Available"];
              } else {
                return [false,"","unAvailable"];
              }
            },
            dateFormat: "yy-mm-dd"
          });
        },
        error: function(xhr, status, error) {
          console.log("Error: " + error);
        }
      });
    }
  }

  //function to check if the Next button should be enabled or disabled
  function checkNextButtonStatus() {
    const destinationCityValue = destinationCityDropdown.value;
    const selectedDate = $('#flightDatepicker').datepicker('getDate');

    if (destinationCityValue !== "Nothing selected" && selectedDate !== null) {
      // Enable the Next button if both the destination city and date are selected
      $('#button-next').prop('disabled', false);
    } else {
      // Disable the Next button if either the destination city or date is not selected
      $('#button-next').prop('disabled', true);
    }
  }

  $('#button-next').on('click', function() {
    var originAirportIcao = $('#originCity').val();
    var destinationAirportIcao = $('#destinationCity').val();
    var selectedDate = $('#flightDatepicker').datepicker('getDate');
    var flightDatepicker = $.datepicker.formatDate('yy-mm-dd', selectedDate);

    if (originAirportIcao && destinationAirportIcao && flightDatepicker) {
      console.log(`Values: ${originAirportIcao}, ${destinationAirportIcao}, ${flightDatepicker}`);
      window.location.href = `selectFlight?originAirportIcao=${originAirportIcao}&destinationAirportIcao=${destinationAirportIcao}&flightDate=${flightDatepicker}`;
    }
  });

</script>

</html>