<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <meta th:name="_csrf" th:content="${_csrf.token}"/>-->
<!--    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <title>Seat Selection</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

<div class="top-bar">
    Seat Selection
    <div th:unless="${#authorization.expression('isAuthenticated()')}">
        <a th:href="@{/login}">
            <button class="button button-login">Log in</button>
        </a>
    </div>
    <div class="top-button-container">
        <div th:if="${#authorization.expression('isAuthenticated()')}">
            <a th:href="@{/connections/userPage}">
                <button class="button button-user-page">User page</button>
            </a>
            <form name="logoutForm" th:action="@{/logout}" method="post">
                <button class="button button-logout">Log out</button>
            </form>
        </div>
    </div>
</div>
<div class="plane">
    <div class="plane-fuselage">
        <div class="seat-container">
            <div th:each="row : ${seatArrangement}">
                <div class="row">
                    <div th:each="seat : ${row}">
                        <div th:if="${seat[0] == 'empty'}" class="empty-space"></div>
                        <div th:if="${seat[0] != 'empty' and seat[0] != 'newline'}" class="seat" th:attr="data-seat-number=${seat[0]}, taken=${seat[1]}">
                            <span th:text="${seat[0]}"></span>
<!--                            <input type="hidden" name="selectedSeat" th:value="${seat[0]}" th:attr="data-seat-number=${seat[0]}"/>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="button-container">
    <form method="get" action="/connections/selectFlight">
<!--        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
        <input type="hidden" name="flightDate" th:value="${#dates.format(connection.getDepartureDate(), 'yyyy-MM-dd')}"/>
        <input type="hidden" name="originAirportIcao" th:value="${connection.getOriginAirport().getIcao()}"/>
        <input type="hidden" name="destinationAirportIcao" th:value="${connection.getDestinationAirport().getIcao()}"/>

        <button class="button button-back" type="submit">Back</button>
    </form>
    <form method="post" action="/connections/confirm">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <input type="hidden" name="connectionId" th:value="${connection.getId()}"/>

        <button class="button button-next" type="submit" th:id="button-next" th:disabled="true">Next</button>
    </form>
</div>

<div class="selected-seat-container">Selected seat: <span id="selected-seat-number"></span></div>

<input type="hidden" id="selected-seat-previously" th:value="${selectedSeatPreviously}" />

<script>
    $(document).ready(function() {

        var selectedSeatInput = $('<input>').attr({
            type: 'hidden',
            name: 'selectedSeat',
            id: 'selected-seat-input'
        }).appendTo('form');

        var selectedSeatPreviously = $('#selected-seat-previously').val();

        if (selectedSeatPreviously !== "empty") {
            // Find the seat element with the corresponding seat number
            var seat = $('.seat[data-seat-number="' + selectedSeatPreviously + '"]');

            if (seat.attr('taken') !== "true") {
                // Deselect any previously selected seat
                $('.seat-selected').removeClass('seat-selected');

                // Select the seat
                seat.addClass('seat-selected');
                selectedSeatInput.val(selectedSeatPreviously); // Set the selected seat value
                $('.selected-seat-container').show();
                $('#selected-seat-number').text(selectedSeatPreviously);
                $('#button-next').prop('disabled', false); // Enable Next button
            }
        }

        $('.seat').click(function() {
            var seat = $(this);

            if (seat.attr('taken') === "true") {
                // If the seat is taken, do nothing
                return;
            }

            if (seat.hasClass('seat-selected')) {
                // If the clicked seat is already selected, deselect it
                seat.removeClass('seat-selected');
                selectedSeatInput.val(''); // Clear the selected seat value
                $('.selected-seat-container').hide();
                $('#button-next').prop('disabled', true); //disable Next button
            } else {
                // Deselect the previously selected seat (if any)
                $('.seat-selected').removeClass('seat-selected');

                // Select the clicked seat
                seat.addClass('seat-selected');
                selectedSeatInput.val(seat.attr('data-seat-number')); // Set the selected seat value
                $('.selected-seat-container').show();
                $('#selected-seat-number').text(seat.attr('data-seat-number'));
                $('#button-next').prop('disabled', false); //enable Next button

            }
        });

    });
</script>
</body>
</html>
